$theme-colors: (
  primary: #f29600,
  secondary: #0b5394,
  third: #7a5fbf,
  "white": #ffffff,
);

$text-size: (
  xxx-large: 2.25rem,
  xx-large: 1.875rem,
  x-large: 1.5rem,
  large: 1.25rem,
  normal: 1rem,
  small: 0.8rem,
  x-small: 0.7rem,
);
